@font-face {
    font-family: Netron;
    src: url(./assets/Netron-p7gq1.otf);
}

@font-face {
    font-family: TeleMarine;
    src: url(./assets/TeleMarinesBoldExpanded-7xdA.otf);
}

:root {
    --background: #e4e1e1;
    --font: #222;
    --button-color: #596D48;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--background);
    font-family: Netron, sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./assets/taiki-ishikawa-Ig0bv-E6Iqs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.55);
    top: 40px;
    height: auto;
    padding: 5px;
    position: relative; 
    top: 40%;
    width: 100%;
}

.logo img{
    height: 80px;
    width: auto;
}

.greetings p {
    font-size: 0.5rem;
    color: white;
    bottom: 10px;
    left: 10px;
    text-align: center;
    position: relative; 
    top: -10px;
}

a:link,
a:visited{
    color: white;
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header p{
    padding: 20px;
}

.input-section{
    background-color: white;
    width: 100%;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
}

.input-section form{
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    padding-top: 20px;
    font-size: 0.9rem;
}

button{
    background-color: var(--button-color);
    color: var(--background);
    padding: 10px;
    border-radius: 5px;
    border-color: var(--button-color);
    font-family: Netron, sans-serif;
    font-size: 1.05rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.253);
}

.submit-section{
    padding: 20px;
}

.submit-section p{
    padding-top: 20px;
    font-size:0.9rem;
}

.submit-section a{
    color: var(--button-color);
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:20px;
}